@import "tailwindcss";

:root {
  --white: #ffffff;
  --dark: #1a1a1a;
  --blue: #0071bb;
  --red: #ed1e27;
}

@theme inline {
  --color-white: var(--white);
  --color-dark: var(--dark);
  --color-blue: var(--blue);
  --color-red: var(--red);
}

body {
  background: var(--color-white);
  color: var(--color-dark);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
